.fire
{
    background-color: #F08030d0;
}

.water
{
    background-color: #6890F0d0;
}

.grass
{
    background-color: #78C850d0;
}

.electric
{
    background-color: #f8d030d0;
}

.ice
{
    background-color: #98D8D8d0;
}

.fighting
{
    background-color: #C03028d0;
}

.poison
{
    background-color: #A040A0d0;
}

.ground
{
    background-color: #E0C068d0;
}

.flying
{
    background-color: #A890F0d0;
}

.psychic
{
    background-color: #F85888d0;
}

.bug
{
    background-color: #A8B820d0;
}

.rock
{
    background-color: #B8A038d0;
}

.ghost
{
    background-color: #705898d0;
}

.dragon
{
    background-color: #7038F8d0;
}

.dark
{
    background-color: #705848d0;
}

.steel
{
    background-color: #B8B8D0d0;
}

.normal
{
    background-color: #A8A878d0;
}